<h1>Here are all the routes:</h1>

<%@routes.each do |route|%>
   <ul> 
     <li><a href="/routes/<%=route.id%>"><%=route.name%></a></li>
   </ul>
<%end%>

  <br></br>
  
<a href="/routes/new">Click here to create a new route.</a>
  <br></br>
<a href="/application/app_index">Or return to the main page.


