<!DOCTYPE html>

<h1>Create New Route</h1>

<form method="post" action="/routes/new">

  <label for="name">Route name: </label>
  <input type="text" id="name" name="name">
  <br></br>
  <label for="day">Delivery days: </label>
  <input type="text" id="day" name="day">
  
   <input type="submit" value="Submit">

</form>