<!DOCTYPE html>

<h1>Create New Route</h1>

<form method="post" action="/routes/new">

  <label for="name">Route name: </label>
  <input type="text" id="name" name="name">
  <br></br>
  <label for="day">Delivery days: </label>
  <input type="text" id="day" name="day">
  <br></br>
  
  <%if Address.all.empty?%>
    <h2>No addresses created yet</h2>
  <%else%>
    <h2>Assign destinations to this route</h2>
      <% Address.all.each do |address| %>
       <label><%= address.client_name %></label>
       <input type="checkbox" id="address_<%=address.id%>" name="address_id" value="<%= address.id %>"><br>
      <%end%>
  <%end%>

  
  <input type="submit" value="Submit">

</form>