<h1>Here are all the couriers:</h1>

<%@couriers.each do |courier|%>
   <ul> 
     <li><a href="/couriers/<%=courier.id%>"><%=courier.user_name%></a></li>
   </ul>
<%end%>

  <br></br>
  
<a href="/">Return to the main page.


