<h1>Here are all the couriers:</h1>
<h2>Click on the a courier to see what round they are doing.</h2>

<%@couriers.each do |courier|%>
   <ul> 
     <li><a href="/couriers/<%=courier.id%>"><%=courier.user_name%></a></li>
   </ul>
<%end%>

  <br></br>
  
<a href="application/app_index">Return to the main page.</a>


