<!DOCTYPE html>

<h1>Create New Courier</h1>

<form method="post" action="/login">

  <label for="user_name">User/Courier name: </label>
  <input type="text" id="user_name" name="user_name">
  <br></br>
  <label for="keys_number">Vehicle keys number: </label>
  <input type="text" id="keys_number" name="keys_number">
  
   <input type="submit" value="Submit">

</form>

