<!DOCTYPE html>

<html>

<h1>Welcome To EasyCourier!</h1>

 <form method="post" action= "/addresses">
  
    <h2>Let's take you aroud the website! Where do you like to be delivered?</h2>
     <label for="couriers">View all couriers</label>
     <input type="checkbox" name=couriers id=courier>
       <br></br>
     <label for="addresses">View all addresses</label>
     <input type="checkbox" name=addresses id=addresses>
       <br></br>
     <label for="routes">View all routes</label>
     <input type="checkbox" name=routes id=routes>
       <br></br>
     <input type="submit" value="Submit">

  </form>

</html>