<!DOCTYPE html>


<h1>Welcome To EasyCourier LogIn Page!</h1>
<br></br>
<%=session[:user_id]%>

<form method='post' action='/login'>
  <label for='user_name'>Enter user name: </label>
   <input type='text' id='user_name' name=user_name>
  <br></br>
  <label for='password'>Password: </label>
   <input type='text' id='password' name=password>
   
  <input type='submit' value='Login'>
  <br></br>
  <h2><a href='/sign_up'>Create a New Account</a><h2>
</form>