<h1>Sign up</h1>

<form method='post' action='/sign_up'>

  <label for='user_name'>Create a user name: </label>
   <input type="text" id="user_name" name='user_name'>
  <label for='password'>Create Password</label>
   <input type='text' id='password' name=password>

  <input type='submit' value='Submit'>
</form>