<h1>Here are all the clients we have:</h1>


<%@all_addresses.each do |address|%>
   <ul> 
     <li><a href="/addresses/<%=address.id%>"><%=address.client_name%></a>
      <form method='post' action='/delete/<%address.id%>'>
        <input type="hidden" name="_method" value="delete">
      <input type='submit' value="Delete">
      </form>
     </li>
   </ul>
<%end%>

  <br></br>
  
<a href="/addresses/new">Click here to create a new address.</a>
  <br></br>
<a href="/application/app_index">Or return to the main page.


