<!DOCTYPE html>

<h1>Create New Address</h1>

<form method="post" action="/addresses/new">

  <label for="client_name">Cliet name: </label>
  <input type="text" id="client_name" name="client_name">
  <br></br>
  <label for="first_line_of_address">First line of address: </label>
  <input type="text" id="first_line_of_address" name="first_line_of_address">
  <br></br>
  <label for="post_code">Post code: </label>
  <input type="text" id="post_code" name="post_code">
  <br></br>
  <label for="contact">Contact: </label>
  <input type="text" id="contact" name="contact">
  <br></br>
  <label for="reference">Reference: </label>
  <input type="text" id="reference" name="reference">
  <br></br>
  <label for="note">Note: </label>
  <input type="text" id="note" name="note">
  <br></br>
  
   <input type="submit" value="Submit">

</form>